.admin {
  background-color: rgb(180, 146, 61);
   border-radius: 10px;
  opacity: 80%; 
}
.text {
  background-color: rgb(180, 146, 61);
  opacity: 80%;
}
.shadow {
  box-shadow: 0px 0 8px 0px;
  max-width: 420px;
  gap: 10px;
  padding: 30px;
}
